{% extends 'layout/base.html' %}
{% load specifications %}
{% block content %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
</nav>
</div>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..."/></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.title }}</h1>
                <div class="fs-5 mb-5">
                    <span>Цена: {{ product.price }} руб.</span>
                </div>
                <p class="lead">Описание: {{ product.description }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                           style="max-width: 3rem"/>
                    <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}"><button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Добавить в корзину
                    </button></a>
                </div>
            </div>
        </div>
    </div>
    <div >
        <p>Характеристики: </p>

        {{ product|product_spec }}
<!--        Как рабочий вариант, главный недостаток - большое наличие возможных перменных, но для простой логики - идеально-->
<!--        {% if product.category.slug == 'notebooks' %}-->
<!--            {% include 'mainapp/nootebook_specification.html' %}-->
<!--        {% else %}-->
<!--            {% include 'mainapp/smartphone_specification.html' %}-->
<!--        {% endif %}-->
    </div>
</section>

{% endblock content %}
