<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8" content="text/html">
    <title>Главная - доска объявлений</title>
</head>
<body>
    <h1>Объявления</h1>
    <div>
        <a href="{% url 'index' %}">Главная</a>
        <a href="{% url 'add' %}">Добавить</a>
        {% for rubric in rubrics %}
<!--        Первый параметр - имя маршрута, что указывается в url файле приложения-->
<!--        второй параметр - значение URL-параметра, которое следует вставить в результирующий интернет адрес-->
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{bb.title}}</h2>
        <p>{{bb.content}}</p>
        <p><a href="/web_app_test_1/{{ bb.rubric.pk }}"></a> {{ bb.rubric.name }} </p>
        <p>{{bb.published|date:"d.m.Y H:i:s"}}</p>
    </div>
    {% endfor %}
</body>
</html>