<!DOCTYPE html>
<html lang="en">
{% extends 'layout/basic.html' %}
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <title>Добавление товара - Описание товаров</title>
</head>
<body>
{% block content %}
<h2>Добавление товара</h2>
<!--    Т.К. в форме указывается метод отправки данных POST, но не указывается интернет-адрес, то данные будут-->
<!--    отправлены по тому же интернет-адресу, с которого была загружена текущая страница, т.е., в нашем случае, тому же-->
<!--    контроллер-классу BdCreateView, который благополучно обработает и сохранит их-->
    <form method="post" >
<!--        Создаёт в форме скрытое поле, хранящее цифровой жетон, получив который, котроллер "поймёт", -->
<!--        что данные были отправлены с текущего сайта-->
        {% csrf_token %}
<!--        Для вывода формы, чьи элементы управления находятся в отдельных абзацах, применяется метод as_p-->
<!--        Метод as_p генерирует только код, создающий элементы управления-->
        {{ form.as_p }}
        <input type="submit" value="Добавить">
    </form>
{% endblock %}
</body>
</html>